@{
    Layout = null;
}
<div ng-controller="account">

    <div>
        <img src="/Content/images/bookshelf.jpg" />
    </div>
    <div class="cd-signin-modal js-signin-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-signin-modal__container">
            <!-- this is the container wrapper -->
            <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
                <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
                <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
            </ul>
            <div cg-busy="{promise:signInSignUpPromise,message:'Loading',backdrop:false,delay:100,minDuration:300}"></div>
            <div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
                <!-- log in form -->
                <form class="cd-signin-modal__form">
                    <p ng-show=" signInFailed == true" style="color:red"> * {{errorMessage}} </p>
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E-mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="E-mail" ng-model="user.UserName">
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Password</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="password" placeholder="Password" ng-model="user.Password">
                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
                        <label for="remember-me">Remember me</label>
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input ng-disabled="signInSignUpPromise!==null" class="cd-signin-modal__input cd-signin-modal__input--full-width" ng-click="login()" type="submit" value="Login">
                    </p>
                </form>
                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Forgot your password?</a></p>
            </div> <!-- cd-signin-modal__block -->


            <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
                <!-- sign up form -->


                <form ng-submit="signUp()" class="cd-signin-modal__form">
                    <p ng-show="signUpFailed == true" style="color:red"> * {{errorMessage}} </p>
                   
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E-mail</label>
                        <input required="required" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="E-mail" ng-model="user.email">
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Password</label>
                        <input required="required" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                               type="password" placeholder="Password" ng-model="user.password">
                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>
                    
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-confirmPassword">Confirm Password</label>
                        <input required="required" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-confirmPassword" type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>
                        @*<span class="cd-signin-modal__error">Error message here!</span>*@
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input ng-disabled="signInSignUpPromise!==null" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Create account">
                    </p>
                </form>
            </div> <!-- cd-signin-modal__block -->

            <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
                <!-- reset password form -->
                <p class="cd-signin-modal__message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                <form class="cd-signin-modal__form">
                    <p class="cd-signin-modal__fieldset">
                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E-mail</label>
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
                    </p>

                    <p class="cd-signin-modal__fieldset">
                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back to log-in</a></p>
            </div> <!-- cd-signin-modal__block -->
            <a href="#0" class="cd-signin-modal__close js-close">Close</a>
        </div> <!-- cd-signin-modal__container -->
    </div> <!-- cd-signin-modal -->
</div>
<script src="../../Content/login-signup-model/login-js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="../../Content/login-signup-model/login-js/main.js"></script> <!-- Resource JavaScript -->