<ul ng-controller="navbar" class="cd-main-nav__list js-signin-modal-trigger">
    <li><a class="cd-main-nav__item cd-main-nav__item--signin" href="#0" data-signin="login">Sign in</a></li>
    <li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Sign up</a></li>
</ul>